 /*MAIN index*/
 main {
    background-color: black;
    padding: 1rem; 
  
    .carousel-item {
      height: 550px; 
  
      .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    }
    
  }
  
  h2 {
    font-size: 60px;
    font-style: italic;
    text-align: center;
    color: #dbdbdb;
    background-color: $maincolor; }
  
  p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    margin-bottom: 10px; }
  
  .Titulonov {
    font-size: 40px;
    text-align: center;
    color: #dbdbdb;
    background-color: $maincolor;
    font-style: italic; }
  
  .card {
    margin-bottom: 50px;
    height: 200px;
    background-color: rgb(93, 93, 228);
    .card-text {
      color: black; }
  }
  
  .card-2{

    @extend .card;
    background-color: rgb(66, 172, 56);
  
  }

  iframe {
    width: 100%; }
  
  /* Main galeria*/

  @mixin grillagal ($display , $cantidadcolum , $cantidadrows , $aligncontent , $justifycontent , $alignitem , $justifyitem ) {

    display: $display;
    grid-template-columns:$cantidadcolum;
    grid-template-rows: $cantidadrows;
    grid-template-areas: "foto1 foto2 foto3"
   "foto4 foto5 foto6";
    align-content: $aligncontent;
    justify-content: $justifycontent;
    column-gap: 2%;
    align-items: $alignitem;
    justify-items: $justifyitem;

    .contenedorgaleria1 {
      height: 80%;
      width: 80%;
      grid-area: foto1; }
    
    .contenedorgaleria2 {
      height: 80%;
      width: 80%;
      grid-area: foto2; }
    
    .contenedorgaleria3 {
      height: 80%;
      width: 80%;
      grid-area: foto3; }
    
    .contenedorgaleria4 {
      height: 80%;
      width: 80%;
      grid-area: foto4; }
    
    .contenedorgaleria5 {
      height: 80%;
      width: 80%;
      grid-area: foto5; }
    
    .contenedorgaleria6 {
      height: 80%;
      width: 80%;
      grid-area: foto6; } 
  }
    
  
  .grillagaleria {
    @include grillagal(grid, 1fr 1fr 1fr , 1fr 1fr , space-around , space-between , center , center )
  }

    
  
  
  /*main contacto*/
  .formulario p {
    text-align: center; 
  
  }
  
  .formulario form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  
  .formulario form input, textarea {
    width: 70%;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem; }
  
  /*main actividades*/
  #columnaact{
    display: flex;
    flex-direction: column;

    .descripcionact{
      list-style: square;
      font-size: 20px;
      color: white;
    }
  
  }

  /* Main eventos*/
  
.grillaeventos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "eventos1" 
 "eventos2";
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 1%; 

}

.contenedoreventos1 {
  grid-area: eventos1;
  width: 100%; }

.contenedoreventos2 {
  grid-area: eventos2;
  width: 100%; }

.columnaeventos {
  display: flex;
  flex-direction: column;
  background-color: #086808;
  padding: 1rem; 

  .descripcioneventos {
    list-style: square;
    font-size: 20px;
    color: white;
    list-style-position: inside;  }
}

